{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>
{% if args.sort.split(',')[0] == "0" %}
<h2> Sort Author By First Contribution {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}</h2>
{% else %}
<h2> Sort Author By Manging Contribution {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}</h2>
{% endif %}
<table border="1">
  <thead>
    <tr>
        <th>#</th>
        <th  style="width: 250px;">Authors </th>
        <th>First Author <input type="button" value="U" onclick="sort('0,1')"/> <input type="button"  value="D" onclick="sort('0,2')"/></th>
        <th>Last Author <input type="button" value="U" onclick="sort('1,1')"/> <input type="button"  value="D" onclick="sort('1,2')"/></th>
    </tr>
  </thead>
  <tbody>
    {% for row in args.data %}    
      <tr>
          <td>{{ loop.index }}</td>
          <td>{{ row }}</td>
          <td align="center">{{ args.data[row][0] }}</td>
          <td align="center">{{ args.data[row][1] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br/>

<form id="Form1" method="post">
<input type="hidden" id="sort" name="sort" value="{{ args.sort }}"/>
</form>


<script>
    function sort(type) {
    
		document.getElementById("sort").value = type;
		document.getElementById("Form1").submit();
	}
</script>

{% endblock %}
