{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>
<form id="Form1" method="post">
Enter the name of the AUTHOR : <input type="text" id="search" name="search" value="{{args.query}}"/> 
<select id="pub" name="pub">
	<option value="0" {% if args.publication == "0" %}selected{% endif %}> All Publictaions </option>
	<option value="1" {% if args.publication == "1" %}selected{% endif %}> Journal Artical </option>
	<option value="2" {% if args.publication == "2" %}selected{% endif %}> Conference Paper </option>
    <option value="3" {% if args.publication == "3" %}selected{% endif %}> Book </option>
    <option value="4" {% if args.publication == "4" %}selected{% endif %}> Book Chapter </option>
</select>
<input type="hidden" id="sort" name="sort" value="{{ args.sort }}"/>
<input type="hidden" id="query" name="query" value="{{ args.query }}"/>
<input type="hidden" id="publication" name="query" value="{{ args.publication }}"/>
<input type="submit"/>
</form>
{% if args.sort.split(',')[0] == "0" %}
<h2> Sort Author By First Contribution {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}</h2>
{% else %}
<h2> Sort Author By Manging Contribution {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}</h2>
{% endif %}
<table border="1">
  <thead>
    <tr>
        <th>#</th>
        <th  style="width: 250px;">Authors </th>
        <th>First Author <input type="button" value="U" onclick="sort('0,1')"/> <input type="button"  value="D" onclick="sort('0,2')"/></th>
        <th>Last Author <input type="button" value="U" onclick="sort('1,1')"/> <input type="button"  value="D" onclick="sort('1,2')"/></th>
        <th>Sole Author <input type="button" value="U" onclick="sort('2,1')"/> <input type="button"  value="D" onclick="sort('2,2')"/></th>
    </tr>
  </thead>
  <tbody>
    {% for row in args.data %}    
      <tr>
          <td>{{ loop.index }}</td>
          <td><a href="{{args.data[row][3]}}">{{ row }}</a></td>
          <td align="center">{{ args.data[row][0] }}</td>
          <td align="center">{{ args.data[row][1] }}</td>
          <td align="center">{{ args.data[row][2] }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br/>

<script>
    function sort(type) {
        document.getElementById("search").value = document.getElementById("query").value;
        document.getElementById("sort").value = type;
        document.getElementById("pub").selectedIndex = parseInt(document.getElementById("publication").value);
		document.getElementById("Form1").submit();
	}
</script>

{% endblock %}
