{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<ol class="breadcrumb" style="background-color: #fff">
        <li><a href="/">Home</a></li>
        <li class="active">{{ args.path }}</li>
        <li class="active">{{ args.title }}</li>
    </ol>

    <div class="container-fluid" style="background-color: #fff">
<h1>{{ args.title }}</h1>
{% for table in args.tables %}
<h2>{{ table.title }}</h2>
<table  class="table table-striped">
  <thead>
    <tr>
      {% for column in table.header %}
        <th>{{ column }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in table.rows %}    
      <tr>
        {% for data_item in row %}
          <td>{{ data_item }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endfor %}
</div>
  <hr>
{% endblock %}
