{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>
<form method="post">
Enter the name of the AUTHOR : <input type="text" id="search" name="search"/> 
<select id="sort" name="sort">
	<option value="1" selected> Ascending </option>
	<option value="2"> Descending </option>
</select>
<select id="name" name="name">
	<option value="1" selected> Whole Name </option>
	<option value="2"> First Name </option>
	<option value="3"> Last Name </option>
</select>
<input type="submit"/>
</form>
{% if args.data %}
<table>
  <thead>
    <tr>
        <th>Author</th>
    </tr>
  </thead>
  <tbody>
    {% for author in args.data %}  
      <tr>
          <td>{{ author }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br/>

{% endif %}

{% endblock %}