{% if args.data|length == 1 %}
   		<script>
   			window.location = "../stats/blah?id={{args.data[0][7]}}"
   		</script>
{% endif %}
{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>
<form id="Form1" method="post">
Enter the name of the AUTHOR : <input type="text" id="search" name="search"/> 
<!--<select id="sort" name="sort">
	<option value="1" selected> Ascending </option>
	<option value="2"> Descending </option>
</select>
-->
<input type="hidden" name="sort" id="sort" value="0,1"/>
<select id="name" name="name">
	<option value="1" selected> Whole Name </option>
	<option value="2"> First Name </option>
	<option value="3"> Last Name </option>
</select>
<input type="submit"/>
</form>
{% if args.method == "POST" %}
{% if not args.data %}
No Result Return for this search "{{ args.search }}"
{% endif %}
{% endif %}
{% if args.data %}
Result for : {% if args.search %} "{{ args.search }}" {% else %} All Authors {% endif %}
{% if args.name == "1" %}
in Whole Name
{% elif args.name == "2" %}
in First Name
{% else %}
in Last Name
{% endif %}
 - 
Order By : 
{% if args.sort.split(',')[0] == "0" %}
Author {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}
{% elif args.sort.split(',')[0] == "1" %}
Number of conference papers {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}
{% elif args.sort.split(',')[0] == "2" %}
Number of journal articles {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}
{% elif args.sort.split(',')[0] == "3" %}
Number of book chapters {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}
{% elif args.sort.split(',')[0] == "4" %}
Number of books {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}
{% elif args.sort.split(',')[0] == "5" %}
Number of publication {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}
{% elif args.sort.split(',')[0] == "6" %}
Number of co-authors {% if args.sort.split(',')[1] == "1" %} Asc {% else %} Desc {% endif %}
{% endif %}

<br />
<br />
<table border="1">
  <thead>
    <tr>
        <th>#</th>
        <th  style="width: 250px;">Author <input type="button" value="U" onclick="sort('0,1')"/> <input type="button"  value="D" onclick="sort('0,2')"/></th>
        <th style="width: 150px;">Number of conference papers <input type="button"  value="U" onclick="sort('1,1')"/> <input type="button"  value="D" onclick="sort('1,2')"/></th>
        <th style="width: 150px;">Number of journal articles <input type="button" value="U" onclick="sort('2,1')"/> <input type="button"  value="D" onclick="sort('2,2')"/></th>
        <th style="width: 150px;">Number of book chapters <input type="button" value="U" onclick="sort('3,1')"/> <input type="button"  value="D" onclick="sort('3,2')"/></th>
        <th style="width: 150px;">Number of books <input type="button" value="U" onclick="sort('4,1')"/> <input type="button"  value="D" onclick="sort('4,2')"/></th>
        <th style="width: 150px;">Number of publication <input type="button" value="U" onclick="sort('5,1')"/> <input type="button"  value="D" onclick="sort('5,2')"/></th>
        <th style="width: 150px;">Number of co-authors <input type="button" value="U" onclick="sort('6,1')"/> <input type="button"  value="D" onclick="sort('6,2')"/></th>
    </tr>
  </thead>
  <tbody>
    {% if args.data|length == 1 %}
   		<script>
   			window.location = "../stats/blah?id={{args.data[0][7]}}"
   		</script>
  		<!--<meta http-equiv="Refresh" content="0; url=../stats/blah?id={{args.data[0][7]}}">-->  
    {% else %} 
    
    {% for entry in args.data %}  
      <tr>
        <td>{{loop.index}}</td>
     	<td><a href="../stats/blah?id={{entry[7]}}">{{ entry[0] }}</a></td>
     	<td align="center">{{ entry[1] }}</td>
     	<td align="center">{{ entry[2] }}</td>
     	<td align="center">{{ entry[3] }}</td>
     	<td align="center">{{ entry[4] }}</td>
     	<td align="center">{{ entry[5] }}</td>
     	<td align="center">{{ entry[6] }}</td>
      </tr>
    {% endfor %}
    {% endif %} 
  </tbody>
</table>
<br/>



<input type="hidden" id="searchtext" value="{{args.search}}"/>
<input type="hidden" id="sorttext" value="{{args.sort}}"/>
<input type="hidden" id="nametext" value="{{args.name}}"/>



{% endif %}

<script>
	function sort(type){
		document.getElementById("search").value = document.getElementById("searchtext").value;
		document.getElementById("sort").value = document.getElementById("sorttext").value = type;
		document.getElementById("name").selectedIndex = parseInt(document.getElementById("nametext").value) -1;
		document.getElementById("Form1").submit();
	}
</script>

{% endblock %}