{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}

<h1>{{ args.title }}</h1>

<table>
  <thead>
    <tr>
    {% for column in args.data[0] %}
      <th>{{ column }}</th>
    {% endfor %}
    </tr>
  </thead>

  <tbody>
  {% if args.title=="Author Publication" %}
    {% for row in args.data[1] %}
    <tr>
    	<td><a href="../stats/blah?id={{loop.index-1}}">{{ row[0] }}</a></td>
    	<td>{{ row[1] }}</td>
    	<td>{{ row[2] }}</td>
    	<td>{{ row[3] }}</td>
    	<td>{{ row[4] }}</td>
    	<td>{{ row[5] }}</td>
    </tr>
  {% endfor %}
  {% else %}
  {% for row in args.data[1] %}
    <tr>
    {% for data_item in row %}
      <td>{{ data_item }}</td>
    {% endfor %}
    </tr>
  {% endfor %}
  {% endif %}
  </tbody>
</table>
{% endblock %}
